
<h2>Crear Nuevo Departamento</h2>
<form method="POST">
    <label for="nombre_propietario">Nombre del Propietario:</label>
    <input type="text" id="nombre_propietario" name="nombre_propietario" required>
    
    <label for="costo">Costo:</label>
    <input type="number" id="costo" name="costo" required>
    
    <label for="numero_cuartos">Número de Cuartos:</label>
    <input type="number" id="numero_cuartos" name="numero_cuartos" required>
    
    <label for="edificio">Edificio:</label>
    <input type="number" id="edificio" name="edificio" required>
    
    
    <input type="submit" value="Crear Departamento">
</form>
